<h1><%= registration_expired? ? 'Open' : 'Close' %> Registration</h1>
<br/>
<div data-no-turbolink>
    <% if registration_expired? %>
        <div class="form-group search-form">
          <%= form_tag(admin_registration_open_path, method: 'post') do %>
              <%= label_tag @end_date, 'Registration end date: ' %>
              <%= text_field_tag(:end_date, @end_date, class: 'form_control datetimepicker', readonly: true) %>
              <%= submit_tag 'Open registration now', class: 'btn btn-large btn-primary' %>
          <% end %>
        </div>
    <% else %>
        <div class="center">Registration ends <%= current_registration_end_to_s %></div>
        <br/>
        <%= link_to 'Close registration', admin_registration_close_path, class: 'btn btn-default' %>
    <% end %>
</div>