<%= render 'shared/error_messages' %>

<%= f.label :first_name %>
<%= f.text_field :first_name %>

<%= f.label :last_name %>
<%= f.text_field :last_name %>

<%= f.label :preferred_name %>
<%= f.text_field :preferred_name %>

<%= f.label :email %>
<%= f.text_field :email %>

<%= f.label :street_address %>
<%= f.text_field :street_address %>

<%= f.label :city %>
<%= f.text_field :city %>

<%= f.label :state %>
<%= f.select :state,
    options_for_select(
   [
       %w(AK AK),
       %w(AL AL),
       %w(AR AR),
       %w(AZ AZ),
       %w(CA CA),
       %w(CO CO),
       %w(CT CT),
       %w(DC DC),
       %w(DE DE),
       %w(FL FL),
       %w(GA GA),
       %w(HI HI),
       %w(IA IA),
       %w(ID ID),
       %w(IL IL),
       %w(IN IN),
       %w(KS KS),
       %w(KY KY),
       %w(LA LA),
       %w(MA MA),
       %w(MD MD),
       %w(ME ME),
       %w(MI MI),
       %w(MN MN),
       %w(MO MO),
       %w(MS MS),
       %w(MT MT),
       %w(NC NC),
       %w(ND ND),
       %w(NE NE),
       %w(NH NH),
       %w(NJ NJ),
       %w(NM NM),
       %w(NV NV),
       %w(NY NY),
       %w(OH OH),
       %w(OK OK),
       %w(OR OR),
       %w(PA PA),
       %w(RI RI),
       %w(SC SC),
       %w(SD SD),
       %w(TN TN),
       %w(TX TX),
       %w(UT UT),
       %w(VA VA),
       %w(VT VT),
       %w(WA WA),
       %w(WI WI),
       %w(WV WV),
       %w(WY WY)
   ], @user.state.blank? ? 'OH' : @user.state)
%>

<%= f.label :postal_code %>
<%= f.text_field :postal_code, maxlength: 5, size: 5 %>

<%= f.label :mobile_phone %>
<%= f.text_field :mobile_phone, value: number_to_phone(@user.mobile_phone), class: 'phonenumber' %>

<%= f.label :home_phone %>
<%= f.text_field :home_phone, value: number_to_phone(@user.home_phone), class: 'phonenumber' %>

<%= f.label :work_phone %>
<%= f.text_field :work_phone, value: number_to_phone(@user.work_phone), class: 'phonenumber' %>

<%= f.label :birthday %>
<%= f.text_field :birthday, value: format_date_datepicker(@user.birthday), class: 'form_control datepicker', placeholder: 'mm/dd' %>

<%= f.label :family_id, 'Member of Family' %>
<%= f.select :family_id,
             family_options.sort_by{|user| user.first_name}.collect {|m| [ m.full_name, m.id ] },
             {include_blank: 'None'},
             disabled: @user.try(:is_head_of_household?),
             title: @user.try(:is_head_of_household?) ? 'This user is head of a family' : '' %>

<%= f.label :spouse_id %>
<%= f.select :spouse_id,
             spouse_options.sort_by{|user| user.first_name}.collect {|m| [ m.full_name, m.id ] },
             {include_blank: 'None'} %>

<%= f.check_box :directory_public %>
<%= f.label :directory_public, 'Make profile public' %>
<div><br></div>
<%= f.label :password %>
<%= f.password_field :password %>

<%= f.label :password_confirmation, 'Confirm Password' %>
<%= f.password_field :password_confirmation %>

<% if signed_in? && current_user.admin? %>
    <%= f.check_box :admin,
        disabled: current_user.id == @user.id %>
    <%= f.label :admin, class: 'input-inline' %>
    <% if current_user.id == @user.id %>
        <span class="tip">Cannot remove from self</span>
    <% end %>
    <div><br></div>
<% end %>