<% provide(:title, @user.full_name) %>
<address class="lcc-profile">
  <div class="h2"><%= @user.full_name %></div><br>
  <div class="lcc-profile-info">
    <table class="table">
      <tr>
        <td>Email</td>
        <td><a href="mailto:<%= @user.email %>"><%= @user.email %></a></td>
      </tr>
      <% unless (@user.mobile_phone.blank? && @user.home_phone.blank? && @user.work_phone.blank?) %>
          <tr>
            <td>Phone</td>
            <td>
              <% unless @user.mobile_phone.blank? %>
                <abbr title="Mobile">C:</abbr>&nbsp;<%= number_to_phone(@user.mobile_phone, area_code: true) %><br>
              <% end %>
              <% unless @user.home_phone.blank? %>
                <abbr title="Home">H:</abbr>&nbsp;<%= number_to_phone(@user.home_phone, area_code: true) %><br>
              <% end %>
              <% unless @user.work_phone.blank? %>
                <abbr title="Work">W:</abbr>&nbsp;<%= number_to_phone(@user.work_phone, area_code: true) %>
              <% end %>
            </td>
          </tr>
      <% end %>
      <% unless (@user.street_address.blank? && @user.city.blank? && @user.postal_code.blank?) %>
          <tr>
            <td>Address</td>
            <td>
                <% unless @user.street_address.blank? %>
                    <%= @user.street_address %><br>
                <% end %>
                <% unless @user.city.blank? %>
                    <%= @user.city + ((@user.state.blank? && @user.postal_code.blank?) ? '' : ', ') %>
                <% end %>
                <% unless @user.state.blank? %>
                    <%= @user.state + ' ' %>
                <% end %>
                <% unless @user.postal_code.blank? %>
                    <%= @user.postal_code.to_s %>
                <% end %>
            </td>
          </tr>
      <% end %>
      <% unless @user.birthday.blank? %>
          <tr>
            <td>Birthday</td>
            <td><%= format_date_show(@user.birthday) %></td>
          </tr>
      <% end %>
      <% unless @user.spouse.blank? %>
          <tr>
            <td>Spouse</td>
            <td><%= link_to @user.spouse.full_name, @user.spouse %></td>
          </tr>
      <% end %>
      <% unless @family.blank? %>
          <tr>
            <td>Family</td>
            <td>
              <ul class="family">
                <% @family.each do |member| %>
                    <li>
                      <%= link_to member.full_name, member %>
                    </li>
                <% end %>
              </ul>
            </td>
          </tr>
      <% end %>
      <% unless @children.blank? && !current_user? && !admin_user? %>
          <tr>
            <td>Children</td>
            <td>
              <ul class="family">
                <% unless @children.blank? %>
                    <% @children.each do |child| %>
                        <li>
                          <% if current_user? || admin_user? %>
                              <%= link_to child.full_name, edit_child_path(child) %>
                          <% else %>
                              <%= child.full_name %>
                          <% end %>
                          <% unless child.birthday.blank? %>
                              <%= ' (' + format_date_show(child.birthday) + ')' %>
                          <% end %>
                        </li>
                    <% end %>
                <% end %>
              </ul>
              <% if current_user? || admin_user? %>
                  <%= link_to('Add child', user_new_child_path(@user),
                              class: 'btn btn-default', style: 'margin-top: 10px') %>
              <% end %>
            </td>
          </tr>
      <% end %>
    </table>
  </div>
</address>