<% provide(:title, @user.full_name) %>
<h2><%= @user.full_name %></h2>
<%= @user.email %>
<%= @user.street_address %>
<%= @user.city + ', ' + @user.state + ' ' + @user.postal_code.to_s %>
<%= @user.mobile_phone %><%= @user.primary_phone === 0 ? "(Primary)" : "" %>
<%= @user.home_phone %><%= @user.primary_phone === 1 ? "(Primary)" : "" %>
<%= @user.work_phone %><%= @user.primary_phone === 2 ? "(Primary)" : "" %>
<%= @user.birthday %>