<% provide(:title, @user.full_name) %>
<address class="lcc-profile">
  <div class="h2"><%= @user.full_name %></div><br>
  <div class="lcc-profile-info">
    <table class="table">
      <tr>
        <td>Email</td>
        <td><a href="mailto:<%= @user.email %>"><%= @user.email %></a></td>
      </tr>
      <tr>
        <td>Phone</td>
        <td>
            <abbr title="Mobile">C:</abbr>&nbsp;<%= number_to_phone(@user.mobile_phone, area_code: true) %><br>
            <abbr title="Home">H:</abbr>&nbsp;<%= number_to_phone(@user.home_phone, area_code: true) %><br>
            <abbr title="Work">W:</abbr>&nbsp;<%= number_to_phone(@user.work_phone, area_code: true) %>
        </td>
      </tr>
      <% unless (@user.street_address.blank? && @user.city.blank? && @user.state.blank? && @user.postal_code.blank?) %>
      <tr>
        <td>Address</td>
        <td>
            <% unless @user.street_address.blank? %>
                <%= @user.street_address %><br>
            <% end %>
            <% unless @user.city.blank? || @user.state.blank? %>
                <%= @user.city + ', ' + @user.state + ' ' %>
            <% end %>
            <% unless @user.postal_code.blank? %>
                <%= + @user.postal_code.to_s %>
            <% end %>
        </td>
      </tr>
      <% end %>
      <% unless @user.birthday.blank? %>
          <tr>
            <td>Birthday</td>
            <td><%= @user.birthday.to_formatted_s :long %></td>
          </tr>
      <% end %>
      <% unless @user.spouse.blank? %>
          <tr>
            <td>Spouse</td>
            <td><%= link_to @user.spouse.full_name, @user.spouse %></td>
          </tr>
      <% end %>
      <% unless @family.blank? %>
          <tr>
            <td>Family</td>
            <td>
              <ul class="family">
                <% @family.each do |member| %>
                    <li>
                      <%= link_to member.full_name, member %>
                    </li>
                <% end %>
              </ul>
            </td>
          </tr>
      <% end %>
    </table>
  </div>
</address>