<header class="navbar navbar-inverse top-navbar" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <div id="logo"><%= link_to image_tag('logo.png', alt: 'Life Community Church'), root_path %></div>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if signed_in? %>
          <% if current_page?(new_user_path) %>
              <li><%= link_to 'Cancel Edit', admin_path %></li>
          <% else %>
              <% unless @user.blank? || @user.id.blank? %>
                  <% if current_user? || admin_user? %>
                      <% unless current_page?(edit_user_path) %>
                          <li><%= link_to 'Edit', edit_user_path(@user) %></li>
                      <% else %>
                          <li><%= link_to 'Cancel Edit', user_path(@user) %></li>
                      <% end %>
                  <% end %>
                  <% if admin_user? %>
                      <li><%= link_to 'Delete', @user, method: :delete, confirm: 'Delete ' + @user.full_name + '?' %></li>
                  <% end %>
              <% end %>
          <% end %>
          <% if admin_user? %>
              <% if controller.controller_name == 'admin' %>
                  <li><%= link_to 'Exit Administration', root_path %></li>
              <% else %>
                  <li><%= link_to 'Administration', admin_path %></li>
              <% end %>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Profile', current_user %></li>
              <li class="divider"></li>
              <li>
                <%= link_to 'Sign out', signout_path, method: 'delete' %>
              </li>
            </ul>
          </li>
      <% else %>
          <li><%= link_to 'Sign in', signin_path %></li>
      <% end %>
    </ul>
  </div>
</header>
